name: connect-publish
on:
  push:
    branches: [main] 
  pull_request:
    branches: [main] 
    
jobs:
  connect-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 4.2.2 #freeze R version
          use-public-rspm: true #use R Studio Package Manager instead of CRAN
      - uses: r-lib/actions/setup-renv@v2
      - name: Create manifest.json
        shell: Rscript {0}
        run: |
          rsconnect::writeManifest()
          
      - name: Publish Connect content
        uses: rstudio/actions/connect-publish@main
        with:
          url: ${{ secrets.CONNECT_SERVER }}
          api-key: ${{ secrets.CONNECT_API_KEY }}
          access-type: logged_in
          dir: |
            ./dashboard/:uace-needs