# Sources: 
# https://github.com/rstudio/actions/tree/main/connect-publish
# https://solutions.posit.co/operations/deploy-methods/ci-cd/github-actions/
# https://github.com/kellirichardson/biofeedback-vis/blob/main/.github/workflows/deploy-to-connect.yaml

on:
  workflow_dispatch:
  push:
    branches: [main] 
    
name: connect-publish
    
jobs:
  connect-publish:
    runs-on: ubuntu-latest
    env:
      APP_NAME: uace-needs-assessment #edit this to change the custom URL of the app
      APP_DIR: dashboard #edit this if you rename or move the contents of the app
      APP_ACCESS: all #See https://github.com/rstudio/actions/tree/main/connect-publish#access-type
    steps:
      - uses: actions/checkout@v3
      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 4.2.2 #freezes R version
          use-public-rspm: true #use R Studio Package Manager to speed up install
      
      - name: Remove `.Rprofile`
        shell: bash
        run: |
          rm .Rprofile
      - name: Restore packages
        uses: r-lib/actions/setup-renv@v2
      
      - name: Create manifest.json #necessary for publishing to Connect
        shell: Rscript {0}
        run: |
          rsconnect::writeManifest(appDir = "${{ env.APP_DIR }}")
          
      - name: Publish Connect content
        uses: rstudio/actions/connect-publish@main
        with:
          url: https://${{ secrets.CONNECT_API_KEY }}@${{ secrets.CONNECT_SERVER }}
          access-type: ${{ env.APP_ACCESS }}
          dir: |
            ./${{ env.APP_DIR }}/:${{ env.APP_NAME }}
          require-vanity-path: true
          show-logs: true
          
            
